@charset "UTF-8";
#joinwrap {
    width: 100%;
    position: relative;
    margin: 0 auto;
	background: url(../img/login_backpage.png)center no-repeat;
    background-attachment: fixed;
    background-position: top;
}
#joinwrap > div {
    min-width: 1024px;
    height: 1300px;
    
}
#log2 {
    font: 400 18px/1.5 'Noto Sans KR';
    letter-spacing: -0.5px;
    margin-bottom: 40px;
    text-align:center;
   
}
#log2 strong {
    font: 600 18px/1.5 'Noto Sans KR';
    letter-spacing: 0px;
    color: #0052D4;
    text-align:center;
}
#login { /*흰 배경*/
    width: 1010px;
    height: 1150px;
    background-color: #fff;
    margin: 80px auto;
    box-shadow: 10px 10px 10px 5px rgba(72, 65, 54, 0.3);
}
#join-input{
	padding-left: 30px;
	text-align: left;
}
.yakkwan{
	margin-left: -30px;
}